.MuiDataGrid-cellContent{
    color: aqua;
    font-size: 150%;
}
.MuiDataGrid-checkboxInput {
    color:aqua;
}
.MuiDataGrid-columnHeader{
    font-size: 85%;
}
.MuiDataGrid-columnHeaders{
    background-color: aqua;
}
.MuiDataGrid-footerContainer{
    background-color: aqua;
}

.raidButton{
    min-width: 50%;
}


.raidButton:hover{
    color: aqua;
    border: 2px solid aqua;
}

.refButton:hover{
    color: red;
    border: 1px solid rgb(29, 235, 11);
}

.progress-box{
    margin: 1px;
    border: 2px solid aqua;
    border-radius: 10px;
    background-color:rgba(0, 0, 0);

}
.inraid-box{
    color: rgb(190, 8, 8);
    margin: 1px;
    border: 2px solid aqua;
    border-radius: 10px;
    background-color:aqua;

}

.box10-bordr{
    padding: 1px;
    border-radius: 12px;
    min-width: 300px;
    margin: 10px;
    min-height: 50px;
    max-height: 80px;
    color: aqua;
    box-shadow: 0px 0px 5px 5px aqua;
}
.box10-bordr1{
    padding: 1px;
    border-radius: 12px;
    min-width: 300px;
    margin: 10px;
    min-height: 70px;
    max-height: 80px;
    color: aqua;
    box-shadow: 0px 0px 5px 5px aqua;
}
.box20-bordr{
    border-radius: 12px;
    min-width: 300px;
    margin: 10px;
    color: aqua;
    padding: 10px ;   
    box-shadow: 0px 0px 5px 5px aqua;
   
}


