.bg-img {
    background-image: url(./assets/bg.png);
    background-color:rgb(255, 0, 0);
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    position: absolute;
    background-position: left;
    background-repeat: repeat;
}

.app{
display: flex;
}
.bordr{
border-radius: 12px;
border: 1px solid rgb(255, 0, 0);
background: rgba(85, 2, 2, 0.7);
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
 background: black;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(black,red);
    border-radius: 8px;
}