.button {
    font: inherit;
    border: 1px solid #f10606;
    background: #060107;
    color: #f10606;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #050505;
    border-color: aqua;
    color: aqua;
  }
  
  .button:focus {
    outline: none;
  }